{% extends "layout/index copy.html "%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" />
{% endblock %}
{% block title %}PARTAGE D'IMAGE NINTENDO 3DS ET WIIU{% endblock %}

{% block content %}
{{ super() }}
<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada mollis risus eu dictum. Vivamus pulvinar finibus efficitur. Vestibulum aliquam tortor in est laoreet mattis at a diam. Proin tristique neque id convallis faucibus. Mauris bibendum maximus augue at convallis. Nam efficitur feugiat turpis at sagittis. Nam tempor orci nec arcu semper aliquet.

Curabitur vel nulla malesuada, luctus ligula vel, volutpat sapien. Phasellus non magna non augue semper lacinia ut quis ligula. Praesent euismod diam tortor, interdum iaculis neque eleifend sit amet. Quisque non aliquet mauris. Aenean posuere sem ut lorem maximus, egestas aliquam nisi tempus. Integer tristique mollis fermentum. Proin tincidunt sem ut lectus consectetur, in tempus lorem pretium. Ut blandit justo sem, et convallis purus dignissim quis. Duis quis bibendum nunc. Morbi vestibulum cursus ultricies. Nullam non quam id ligula luctus porttitor quis vitae purus. Vivamus eleifend vehicula felis, nec commodo lacus aliquet non. Etiam id gravida tortor. Nam vitae efficitur sapien. Vivamus posuere vel metus varius suscipit. Ut varius et ex sit amet dictum.

Praesent consequat suscipit luctus. Mauris consectetur vestibulum ipsum, porttitor posuere mi mattis tincidunt. Proin convallis interdum dignissim. Aenean a iaculis dolor, eu finibus est. Phasellus vulputate, nunc et sagittis mollis, diam ipsum molestie metus, vitae euismod sem risus vel tortor. Proin hendrerit lacus ut purus facilisis congue. Integer quis sem neque. Morbi egestas ultricies blandit. Donec a tincidunt justo.

Integer et est aliquet, eleifend tortor vitae, accumsan neque. Duis non ex pretium, varius lacus in, commodo velit. Fusce eu diam ante. Pellentesque eget arcu gravida, fringilla tortor in, faucibus velit. Cras vitae ultrices nisl, ac dapibus risus. Donec vulputate magna in ultricies dictum. Donec pellentesque id nibh sed tincidunt. In sit amet ex tristique, venenatis lorem vitae, porttitor est. Aliquam consequat consectetur arcu vitae fermentum. Phasellus id finibus erat. Maecenas ultrices quis magna sit amet maximus. Nulla eget augue id libero semper varius in sed ante. Ut non congue dolor. Vestibulum volutpat odio at cursus fermentum.

In hac habitasse platea dictumst. Nullam sodales mauris tellus, sed viverra nisl placerat eu. Sed laoreet aliquam metus, in ullamcorper lacus vulputate in. Aenean nulla orci, semper vel nibh ac, maximus ullamcorper leo. Etiam fringilla tincidunt urna, eget finibus tortor. Donec a dapibus nisl. Donec rhoncus eu quam in convallis. Praesent venenatis odio vel tellus convallis sollicitudin. Etiam sed vulputate quam. Nulla orci orci, venenatis tincidunt est et, efficitur luctus purus. Cras in neque commodo, blandit nulla in, efficitur massa. </p>
{% endblock %}