{% extends "layout/index copy.html" %}
{% block head %}{{ super() }}{% endblock %}
{% block title %}3DS image share to mastodon and twitter/bluesky{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <p id="flash_success">{{ message }}</p>
    {% endfor %}
    {% endif %}
{% endwith %}
<a href=''><button class="blue">{{ arrayTranslate['PublishTwitter'] }} </button></a>
<a href="{{ url_for("login_masto") }}"><button class="masto">{{ arrayTranslate['PublishMasto'] }}</button></a>

{% endblock %}