{% extends "layout/index copy.html" %}
{% block head %}{{ 
    
    super() 
    }}{% endblock %}
{% block title %}3DS image share to mastodon and twitter/bluesky{% endblock %}
{% block content %}
   <div id="conn">Connecté en tant que {{ usr }}@{{ inst }} <a id="deconn" href="{{ url_for('popoff') }}">Déconnexion</a></div>
    <form action="" method="POST" enctype='multipart/form-data'>
        <label for="message">Votre Post</label><br />
        <textarea name="message"></textarea><br />
        <input type="file" name='img' /><br />
        <input type="submit" id="post"/><br />
    </form>
    <br />
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="flash_info">
            {% for message in messages %}
                <b>{{ message }}</b>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
{% endblock %}