   {% extends "layout/index copy.html" %}
   {% block title %}NOTFOUND{% endblock %}    
    {% block content %}
        <h1>ERROR 404!</h1>
        <p>{{ arrayTranslate['NotFound'] }} </p>
        <a href="{{ url_for('index') }}">{{ arrayTranslate['GoHome'] }}</a>
    {% endblock %}